* {
	font-family: 'Marcellus', serif;
}
body {
	background-color: #CEE7FF;
	font-family: 'Marcellus', serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: lighten;
}
.thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1 {
	text-align: center;
	margin-bottom: 3px;
	font-size: 75px;
	color: rgb(0, 0, 0);
	font-family: 'Marcellus', serif;
  /* text-shadow: 2px 2px 8px #5d5c61; */
  /* -webkit-text-stroke: #000000; */
}
.main {
	padding-left: 10%;
	padding-right: 10%;
}

#fall {
	max-width: 25%;
    height: auto;
}

p {
	 font-size: large;
	 font-weight: bold;
}
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}
.navLinks {
	list-style: none;

}
.navLinks li {
	display: inline-block;
	padding: 0px 20px;

}
.navLinks li a {
	transition: all o.3s ease 0s;
	text-decoration: none;
	font-size: larger;
		text-shadow: 2px 2px 8px #5d5c61;
}
.navLinks li a:hover {
	color: #0088a9;
	font-weight: bolder;
}
button {
	padding: 0px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all o.3s ease 0s;
	margin-left: 30px;
	width: 150px;
	height: 30px;
	font-size: larger;
}
button:hover {
		background-color: rgba(0,136,169,0.8);
}
a:visited {
	color: #edf5e1;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: rgba(0,136,169,1);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family: 'Marcellus', serif;
  font-size: larger;
}
input[type=submit]:hover{
	background-color: rgba(0,136,169,0.8);
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#apple {
	margin-top: 15px;
}
label {
	font-size: larger;
}
.hobbypic {
	max-width: 25%;
	width: auto;
}
.photos {
	width: 400px;
	height: 400px;
}


/*delete this*/


/* List */
ul {
  counter-reset: index;  
  padding: 0;
  max-width: auto;
}

/* List element */
.hello {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
.hello::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.hello1 {
	font-size: 30px;
	font-weight: bolder;
}

@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
}

a.apple {
  color: white;
}

.main {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}